[user]
	name = Peter Steiner
	; the email address might be overwritten by a "git config" call in .bashrc, setting the hostname dynamically:
	; git config --global user.email unistein+$HOST_LOCAL_NAME@gmail.com
	email = unistein+n36632@gmail.com
[http]
	proxy = http://localhost:3128
[https]
	proxy = http://localhost:3128
[alias]
	l = log --color --pretty=format:'%h %C(green)%ai%Creset %C(yellow)%ae%Creset %s%C(red)%d%Creset'
[difftool "bc3"]
	path = c:/Program Files (x86)/Beyond Compare 3/bcomp.exe
[mergetool "bc3"]
	path = c:/Program Files (x86)/Beyond Compare 3/bcomp.exe
[difftool "sourcetree"]
	cmd = 'C:/Program Files (x86)/Beyond Compare 3/BComp.exe' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = 'C:/Program Files (x86)/Beyond Compare 3/BComp.exe' \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustExitCode = true
[diff]
	tool = bc3
[merge]
	tool = bc3
[difftool]
	prompt = false
[core]
	; the path to the file might be overwritten by a "git config" call in .bashrc:
	; git config --global core.excludesfile ~/.gitignore_global
	excludesfile = C:/Daten/P/Git/home/tksnp/.gitignore_global
[log]
	follow = true
[push]
	default = matching
[pull]
	rebase = true
[branch]
	autosetuprebase = always
[gc]
	autoDetach = false
